#root-div {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.counter-box {
    min-width: 200px;
    background-color: #fcfcff;
    border-radius: 6px;
    border: 1px solid #c1c7ce;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 12px;
}

.countText {
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: black;
    grid-column: 1 / 1;
    margin-right: 12px;
}

.incButton {
    padding: 6px 12px 6px 12px;
    width: max-content;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #bf0033;
    color: white;
    border-radius: 6px;
    height: 38px;
    border: 0px;
    grid-column: 2 / 2;
}

.incButton:hover {
    cursor: pointer;
    background-color: #920025;
}

.chart {
    grid-column: 1 / 1;
    margin-right: 24px;
}

.example {
    grid-column: 2/2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}