// Base styles
$base-color: #fcfcff;
$border-color: #c1c7ce;
$text-color: #000;
$font-family: "Poppins", sans-serif;

#root-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

// Counter box styles
.counter-box {
  min-width: 200px;
  background-color: $base-color;
  border-radius: 6px;
  border: 1px solid $border-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 12px;
}

// Text styles
.countText {
  font-weight: 400;
  font-size: 16px;
  font-family: $font-family;
  color: $text-color;
  grid-column: 1 / span 1;
  margin-right: 12px;
}

// Increment button styles
.incButton {
  padding: 6px 12px;
  width: max-content;
  font-family: $font-family;
  font-size: 16px;
  background-color: #bf0033;
  color: #fff;
  border-radius: 6px;
  height: 38px;
  border: 0;
  grid-column: span 1;
  cursor: pointer;
  transition: background-color 0.2s ease; // Added hover effect

  &:hover {
    background-color: #920025;
  }
}

// Chart styles (assuming you have a separate class)
.chart {
  grid-column: span 1;
  margin-right: 24px;
}

// Example styles
.example {
  grid-column: span 1;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
